/*fonts*/
@font-face {
    font-family: 'Futura';
    src: url("/fonts/futura/Futura-Med-Bt.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url("/fonts/futura/Futura-Medium-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url("/fonts/futura/Futura-Light-bt.ttf") format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBlack';
    src: url("/fonts/futura/futura-black-bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/fonts/futura/FuturaPT-Demi.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("/fonts/futura/FuturaPT-Demi.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GrouchBt';
    src: url("/fonts/grouch/GrouchITC.otf") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

/*fonts end*/

/*universal CSS*/
#temp-overlay {
    position: fixed;
    z-index:2;
    width:110vw;
    display:grid;
    margin-left: -75px;
}
html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

.fixed-header {
    position: fixed;
    width: 100%;
    height: 90px;
    backface-visibility: hidden;
    z-index: 2;
    /*    background-color: red;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2%;
}

input,
button,
submit {
    border: none;
    font-family: 'GrouchBt' !important;
    font-size: 4em;

}

#menu-link {
    font-family: 'GrouchBt' !important;
   color: lightgray; /*  this one fine*/
    padding-right: .8em;
    z-index: 1000;
}


.contentbox {
    /*    background-color: pink;*/
    margin: 10px 0;
    margin: auto;
    padding: 100px 0;
    /*  this will be overriden in later media queries for 2 col */

}

img {
    padding: 100px 0;
    /*  this will be overriden in later media queries for 2 col */
}

#maincontainer {
    /*    background-color: lightyellow;*/
    /*  double check this on bigger screens  */
    max-width: 1300px;
    margin: auto;
}

footer {
    height: 300px;
    font-size: 12px;
    font-family: 'GrouchBt';
    font-weight: light;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;

}

#menu {
    display: flex;
    flex-direction: column;
}

#menuendnotes {
    margin-top: auto;
    font-size: 23px;
    font-family: 'Futura';
    font-weight: light;
    line-height: 10px;
    margin-left: 0 !important;

}

#infobutton {
    color: lightgrey;
    font-family: 'GrouchBt' !important;
    /*    fix this */
    font-size: 50px;
}

a.infobutton:hover,
a.infobutton:active {
    color: black !important;

}

#introtitle {
    height: 90vh;
    font-family: 'GrouchBt' !important;
    color: black;
    font-size: 50px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

#endnotesemail {
    margin-top: 6%;
}

.project-description-text {
    font-family: 'Futura';
    font-weight: bold;
    width: 35%;
    min-width: 300px;
    text-align: right;
    font-size: 1.9em;
    line-height: 2em;
    z-index: 2000;
    margin: auto;
    max-width: 230px;

}

.project-description-text a:link {
    color: black;
    text-decoration: underline;
}



#img1 {
    width: 70%;
    max-width: 400px;
}

#img2 {
    width: 60%;

    max-width: 400px;
}

#img3 {
    width: 60%;
    max-width: 400px;
}

#img4 {
    width: 100%;
    max-width: 250px;
}

#img5 {
    width: 50%;
    max-width: 500px;
}

#img6 {
    width: 50%;
    max-width: 500px;
    margin-bottom: -190px;
}

#img7 {
    width: 76%;
    max-width: 500px;
}

#img8 {
    width: 60%;
    max-width: 400px;
}

#img9 {
    width: 60%;
    max-width: 400px;
    margin-top: -180px;
}

#img10 {
    width: 50%;
    max-width: 500px;
}

#img11 {
    width: 100%;
    max-width: 300px;
}

#miscdiv {
    height: 500px;
    /* make larger in 2 col*/
/*    background-color: pink;*/
}

.rightsideimages {}

.right {
    width: %;
}

.right img {
    margin: ;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
    max-width: 80%;
    margin: auto;
}

.left img {
    margin: auto;
    width: 80%;
    min-width: 300px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}

.right {}

.left {
    width: 100%;
}

.parallax {
    margin: auto;
    width: 100%;
    text-align: ;
/*    background-color: azure;*/
}

.testdiv {
    height:500px;
    width:500px;
/*    background-color:aqua;*/
    margin:auto;
    position: fixed;
    z-index: 4000;
}


/*shapes css*/
/*shapes css*/
 
#shapesContain {
    position: fixed;
    left: 25%;
    right: 25%;
    background-color: green;
    z-index: 100;
}
#newoverlay {
    position:fixed;
    height:100vh;
    width:100vw;
}



#shapesContain > img {
    /*    media query for smaller screens below to override*/
    -ms-transform: scale(0.33, 0.33);
    /* IE 9 */
    -webkit-transform: scale(0.33, 0.33);
    /* Safari */
    transform: scale(0.33, 0.33);
    position: absolute;
}
@media only screen and (max-width : 750px) {
    #shapesContain > img {
    
    -ms-transform: scale(0.25, 0.25);
    /* IE 9 */
    -webkit-transform: scale(0.25, 0.25);
    /* Safari */
    transform: scale(0.25, 0.25);
    position: absolute;
        }
}

/*shapes css end*/
/*shapes css end*/





/* Extra small devices (phones, 600px and down),keep 1 col */
@media only screen and (max-width: 600px) {
    html {}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
/*        background-color: lightblue;*/
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {}
}

/* Large devices (laptops/desktops, 992px and up) /* switch to 2 col */
@media only screen and (min-width: 992px) {
    html {
/*        background-color: lightblue;*/
    }

    #maincontainer {
        display: flex;
        justify-content: space-between;
    }

    img {
        padding: 0 0;
        /*  this is different on earlier 1 col layout  */
    }

    .contentbox {
        padding: 0 0;
        /*  this is different on earlier 1 col layout  */
    }

    #leftside,
    #rightside {
        /*        background-color: red;*/
        width: 48%;
    }

    /*/////    space blocks for larger layouts /////*/
    #img1 {
        width: 100%;
        max-width: 400px;
        padding-top: 400px;
    }

    #img2 {
        width: 100%;
        max-width: 400px;
    }

    #img3 {
        width: 100%;
        max-width: 400px;
        padding-top: 1000px;
    }

    #img4 {
        width: 100%;
        max-width: 250px;
        padding-top: 1300px;
        position: relative;
        left: -32%;
    }

    #img5 {
        width: 100%;
        max-width: 500px;
        padding-top: 400px;
        padding-bottom: 2500px;
        /*        temp*/
    }

    #img6 {
        width: 100%;
        max-width: 500px;
        padding-top: 700px;
    }

    #img7 {
        width: 100%;
        max-width: 500px;
        padding-top: 1450px;
    }

    #img8 {
        width: 100%;
        max-width: 400px;
        padding-top: 1000px;
        padding-bottom: 300px;
    }

    #img9 {
        width: 100%;
        max-width: 400px;
        padding-bottom: 300px;
        padding-top: 190px;
    }

    #img10 {
        width: 100%;
        max-width: 500px;
        padding-top: 200px;
        padding-bottom: 1000px;
        /* temp*/
    }

    #img11 {
        width: 100%;
        max-width: 300px;
    }

    .right img {
        width: 500px;
        height: auto;
        margin: inherit;
    }

    .left img {
        width: 400px;
    }

    #introtext {
        font-family: 'FuturaPT';
        font-weight: bold;
        font-size: 2.4em;
        letter-spacing: 0.0625em;
        line-height: 1.4em;
        letter-spacing: 10;
        text-align: left;
        text-align: left;
        max-width: 400px;
    }

    .project-description-text {
        max-width: 350px;
        margin: 0% 0% 0% 10%;
        z-index: 2000;

    }

    /* Parallax base styles
  --------------------------------------------- */
    .parallax {
        margin: auto;
        width: 90%;
        min-width: 700px;
        max-width: 1400px;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: 1px;
        perspective: 1px;
    }

    .parallax__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .parallax__layer--base {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .parallax__layer--back {
        -webkit-transform: translateZ(-1px) scale(2);
        transform: translateZ(-1px) scale(2);
    }

    .parallax__layer {
        /* add some padding to force scrollbars */

        padding: 100vh 0;
    }

    .left {
        /* centre or align the content in the parallax layers */

        width: 50%;
/*        background-color: pink;*/
        align-content: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .right {
        width: 100%;
/*        background-color: pink;*/
        padding-left: 49%;
        display: flex;
        flex-direction: column;
    }

    /*    parallax css end*/
    .project-description-text {
        font-size: 2em;
        max-width: 200px;
    }
    #introtext{width: 100%;}

}

/*      --bgImage: url("https://i.imgur.com/ZoWEHGm.jpg");*/


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {}
}


.inline-link {
    display: inline;
    text-decoration: underline;
}

a {}



.menulink {
    font-family: 'FuturaPT';
    font-weight: bold;
}
