@font-face {
    font-family: 'FuturaPT';
    src: url("/fonts/futura/FuturaPT-Demi.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GrouchBt';
    src: url("/fonts/grouch/GrouchITC.otf") format('OpenType');
    font-weight: normal;
    font-style: normal;
}

/*universal css*/
html {
    font-family: 'FuturaPT';
    font-weight: bold;
    text-align: justify;
    background-color: #f6c1b8;
    font-size: 1.4em;
}

body {
    margin: 0;
    font-size: .87em;
}

* {
    margin: 0;
    padding: 0;

}

a {
    color: black;
}

p {}

#canvas {
    height: 100vh;
    position: absolute;
}

#arrow {
    width: 10%;
    position: absolute;
    z-index: 3000;
}

#arrow {
    width: 10%;
    position: absolute;
    z-index: 3000;
}

#studioemail {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-decoration: none;
}

#section {
    margin: 10px 0 10px 0;
}

/*css for mobile first*/
#aboutpage-main {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 75px 0px 75px 0;
    width: 70%;
    min-width: 325px;
}

/*css for mobile first*/
#aboutpage-main {}

/*universal css end*/







/*////////////////////////////  media queries  /////////////////////////*/
/* Extra small devices (phones, 600px and down) */
/* keep 1 col */
@media only screen and (max-width: 600px) {
    html {}

    #canvas {
        display: none;
    }

    #arrow {
        margin: 10px;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* keep 1 col */
@media only screen and (min-width: 600px) {
    html {}

    #canvas {
        display: none;
    }

    #aboutpage-main {
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding: 75px 0px 75px 0;
        width: 70%;
        min-width: 325px;
        max-width: 700px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
/* keep 1 col , iphones go up to 667px */
@media only screen and (min-width: 768px) {
    html {}

    #canvas {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
/* switch to 2 col */
@media only screen and (min-width: 992px) {
    html {}

    #canvas {
        display: block;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html {}
}

/*make sure that if touchscreen, no canvas appears*/
@media (pointer: fine) {
    #canvas {
        display: block;
    }
}

@media (pointer: coarse) {
    #canvas {
        display: none;
    }
}

@media (hover: none) {
    #canvas {
        display: none;
    }
}
